<h1>Administra tus contactos.</h1>
<h3>¡Bienvenido/a devuelta!</h3>

<!--Si he seleccionado un contacto en la lista, aparece nombre n la home-->
<ng-container *ngIf="contactoSeleccionado;else noSeleccionado">
  <h4>Tu amigo es: {{contactoSeleccionado.name.first}}</h4>
</ng-container>
<ng-template #noSeleccionado>
  <div>
    <p>Selecciona a un amigo.</p>
  </div>
</ng-template>

<button mat-raised-button="primary" (click)="navegarAContactos()">Ver todos tus contactos.</button>

<div>
  <p>Filtros</p>
  <a mat-raised-button color="primary" [routerLink]="['/dashboard/contacts']" [queryParams]="{sexo: 'female'}">AMIGAS </a>
  <a mat-raised-button color="accent" [routerLink]="['/dashboard/contacts']" [queryParams]="{sexo: 'male'}">AMIGOS</a>
</div>
