:host {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  border-radius: 14px;
}

// Modificamos los estilos de card de Angular Material
mat-card {
  max-width: 500px;
  margin: 3em;
  text-align: center;
}

mat-card-header {
  display: unset;
}

mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Modificando los estilos de campos del formulario de Angular Material
mat-form-field {
  display: block;
  min-width: 300px;
  width: 100%;
}


