button {
  padding: 0.6rem;
  margin-left: 1rem;
  background-color: paleturquoise;
  color: rgba(0, 0, 0, 0.76);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(184, 255, 255);
  color: black;
}
